extends layout
block layout-content
  main
    section#about.my-3
      h1.title.text-center About Hair Canada
      div.container
        div.row
          div.col-12.col-md-6.py-5
            img(src='./images/about.jpg' alt='A photo showing stylists serving customers').img-fluid
            // Source: https://unsplash.com/photos/3nBzt3Jdeh4
          div.col-12.col-md-6.py-5.d-flex.align-items-center
            p.px-5 Found in the year 2015, Hair Canada is a luxury salon started by Celebrity Stylist Lawrence Lo. With a team of most sought after stylists, the salon is known for its exceptional quality and customer services.
          div.col-12.col-md-6.py-5.d-flex.align-items-center
            blockquote.blockquote
              p.text-center.px-5 We aim to offer customized haircut to strike the perfect balance of looks that are enduring, yet original.
          div.col-12.col-md-6.py-5
            img(src='./images/team.jpg' alt='A photo showing 3 stylists').img-fluid
            // Source: https://unsplash.com/photos/fI-TKWjKYls
