extends layout
block layout-content
  main
    section#services.my-3
      h1.title.text-center Our Services
      div.container.d-sm-flex.flex-row.justify-content-between.py-5
        div.flex-grow-1.p-5
          p Women's Haircuts
            span.float-end from $150
          p Men's Haircuts
            span.float-end from $100
          p Wash and Blow-dry
            span.float-end from $70
          p Colour
            span.float-end from $80
          p Partial Highlights
            span.float-end from $150
          p Full Highlights
            span.float-end from $190
          p Perms
            span.float-end from $200
          p Hair Straightener
            span.float-end from $270
          p#notes For other services and personalized quotes, please contact us at (416) 123-4567 or salon@nothaircanada.ca for a complimentary consultation.
        div.pl-5.d-none.d-lg-block
          img(src='./images/services.jpg' alt='A photo showing stylist grooming customer\'s hair')
          // Source: https://unsplash.com/photos/a3xr2mVjT5M
